USE [Zahnarztpraxis]
GO
/****** Objekt:  UserDefinedFunction [dbo].[existPerson]    Skriptdatum: 27.08.2026 10:49:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   FUNCTION [dbo].[existPerson](
    @Vorname        NVARCHAR(50),
    @Nachname       NVARCHAR(50),
    @GebDat         DATE,
    @GenderID       INT
) RETURNS BIT

AS
BEGIN
  IF EXISTS(
    SELECT PersonID
	FROM dbo.Person
	WHERE Vorname = @Vorname 
    AND Nachname = @Nachname
    AND GebDat = @GebDat
    AND GenderID = @GenderID

	) RETURN 1
RETURN 0
END