USE [Zahnarztpraxis]
GO
/****** Objekt:  StoredProcedure [dbo].[proc_PatientKommtAn]    Skriptdatum: 27.08.2026 14:20:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE OR ALTER PROCEDURE dbo.proc_PatientKommtAn
    @PatientID INT,
    @Meldung NVARCHAR(200) = NULL OUTPUT
AS
BEGIN

    DECLARE @Verlassen DATETIME2;


    -- Patient existiert nicht
    IF dbo.existPatient(@PatientID) = 0
    BEGIN
        SET @Meldung = N'Patient existiert nicht.';
        RETURN;
    END;


    -- Patient liegt im Archiv
    IF dbo.istArchiviert(@PatientID) = 1
    BEGIN
        SET @Meldung = N'Patient liegt im Archiv.';
        RETURN;
    END;


    -- War Patient heute schon da?
    IF EXISTS
    (
        SELECT 1
        FROM dbo.Praxisbesuch
        WHERE PatientID = @PatientID
          AND CAST(Ankunft AS DATE) = CAST(GETDATE() AS DATE)
    )
    BEGIN

        -- neuesten heutigen Besuch holen
        SELECT TOP 1
            @Verlassen = Verlassen
        FROM dbo.Praxisbesuch
        WHERE PatientID = @PatientID
          AND CAST(Ankunft AS DATE) = CAST(GETDATE() AS DATE)
        ORDER BY Ankunft DESC;


        -- Noch nicht ausgecheckt
        IF @Verlassen IS NULL
        BEGIN
            SET @Meldung =
                N'Patient ist bereits eingecheckt. Bitte zuerst auschecken.';
            RETURN;
        END;

    END;


    -- neuen Besuch eröffnen
    INSERT INTO dbo.Praxisbesuch
    (
        PatientID,
        Ankunft,
        Verlassen
    )
    VALUES
    (
        @PatientID,
        SYSDATETIME(),
        NULL
    );


    SET @Meldung =
        N'Patient wurde erfolgreich eingecheckt.';

END;
GO