USE Zahnarztpraxis;
GO

CREATE OR ALTER PROCEDURE dbo.proc_PatientKommtAn
    @PatientID INT
AS
BEGIN

    DECLARE @Verlassen DATETIME2


    -- Checke ob der Pat. existiert 
    -- Falls nicht wird er neu Angelegt in anderer Proc.
    IF dbo.existPatient(@PatientID) = 0
    BEGIN
        THROW 50001, 'Patient existiert nicht.', 1
    END

    IF dbo.istArchiviert(@PatientID) = 1
    BEGIN
        THROW 50001, 'Patient liegt im Archiv.', 1
    END

    --  Checked ob der Pat schon HEUTE in der Praxis war
    IF EXISTS
    (
        SELECT 1
        FROM dbo.Praxisbesuch
        WHERE PatientID = @PatientID
          AND CAST(Ankunft AS DATE) = CAST(GETDATE() AS DATE)
    )
    BEGIN

        -- heutigen neuesten Besuch holen
        SELECT TOP 1
            @Verlassen = Verlassen
        FROM dbo.Praxisbesuch
        WHERE PatientID = @PatientID
          AND CAST(Ankunft AS DATE) = CAST(GETDATE() AS DATE)
        ORDER BY Ankunft DESC;


        
        IF dbo.patientCHECKOUT(@Verlassen) = 0
        BEGIN
            THROW 50002,
                  'Patient ist noch eingecheckt. Bitte zuerst auschecken.',
                  1
        END

    END

    -- pat wird ins Wartezimmer geschickt
    INSERT INTO dbo.Praxisbesuch
    (
        PatientID,
        Ankunft,
        Verlassen
    )
    VALUES
    (
        @PatientID,
        SYSDATETIME(),
        NULL
    )

END
GO