USE [Zahnarztpraxis]
GO
/****** Objekt:  StoredProcedure [dbo].[proc_NeuenPatientAufnehmen]    Skriptdatum: 27.08.2026 10:52:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [dbo].[proc_NeuenPatientAufnehmen]
(
    @Vorname        NVARCHAR(50),
    @Nachname       NVARCHAR(50),
    @GebDat         DATE,
    @GenderID       INT,

    @Telefonnummer  NVARCHAR(20) = NULL,
    @TitelID        INT = NULL,

    @Strasse        NVARCHAR(100) = NULL,
    @Hausnummer     NVARCHAR(20) = NULL,
    @PLZ            NVARCHAR(10) = NULL,
    @StadtID        INT = NULL
)
AS
BEGIN
        IF [dbo].[existPerson](@Vorname, @Nachname, @GebDat,@GenderID) = 1
    BEGIN
        THROW 50020, 'Person existiert bereits.', 1;
    END;
    -- Fall ein fehler innerhalb der transaktion vorekommt bricht die ganze transaktion ab
    SET XACT_ABORT ON

    DECLARE @AdresseID INT = NULL
    DECLARE @PersonID INT
    DECLARE @PatientID INT

    BEGIN TRY

        BEGIN TRANSACTION


        /* =========================================
           ADRESSE
           Adresse ist optional.
           Wenn Adresse angegeben wird,
           brauchen wir Straße, PLZ und Stadt.
           ========================================= */

        IF @Strasse IS NOT NULL
           OR @Hausnummer IS NOT NULL
           OR @PLZ IS NOT NULL
           OR @StadtID IS NOT NULL
        BEGIN

            IF @Strasse IS NULL
               OR @PLZ IS NULL
               OR @StadtID IS NULL
            BEGIN
                THROW 50010,
                      'Adresse unvollständig: Straße, PLZ und Stadt müssen angegeben werden.',
                      1
            END


            INSERT INTO dbo.Adressbuch
            (
                Strasse,
                Hausnummer,
                PLZ,
                StadtID
            )
            VALUES
            (
                @Strasse,
                @Hausnummer,
                @PLZ,
                @StadtID
            )


            SET @AdresseID = SCOPE_IDENTITY()

        END


        /* =========================================
           PERSON ANLEGEN
           Die vorhandenen CHECK-Constraints
           prüfen automatisch z.B.
           Geburtsdatum und Telefonnummer.
           ========================================= */

        INSERT INTO dbo.Person
        (
            TitelID,
            Vorname,
            Nachname,
            GebDat,
            AdresseID,
            Telefonnummer,
            GenderID,
            Archiviert,
            Grund_der_archivierung
        )
        VALUES
        (
            @TitelID,
            @Vorname,
            @Nachname,
            @GebDat,
            @AdresseID,
            @Telefonnummer,
            @GenderID,
            0,
            NULL
        )


        SET @PersonID = SCOPE_IDENTITY()


        /* =========================================
           AUS DER PERSON EINEN PATIENTEN MACHEN
           ========================================= */

        INSERT INTO dbo.Patient
        (
            PersonID
        )
        VALUES
        (
            @PersonID
        )


        SET @PatientID = SCOPE_IDENTITY()


        COMMIT TRANSACTION


        /* =========================================
           AN DAS FRONTEND ZURÜCKGEBEN
           ========================================= */

        SELECT
            @PatientID AS PatientID,
            @PersonID AS PersonID,
            @AdresseID AS AdresseID,
            @Vorname AS Vorname,
            @Nachname AS Nachname,
            N'Patient wurde erfolgreich aufgenommen.'
                AS Meldung


    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION

        THROW

    END CATCH

END
