USE [master]
GO
/****** Objekt:  Database [Zahnarztpraxis]    Skriptdatum: 28.08.2026 12:41:14 ******/
CREATE DATABASE [Zahnarztpraxis]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Zahnarztpraxis', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Zahnarztpraxis.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Zahnarztpraxis_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\Zahnarztpraxis_log.ldf' , SIZE = 31488KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Zahnarztpraxis].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
/****** Objekt:  Login [NT-AUTORITÄT\SYSTEM]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [NT-AUTORITÄT\SYSTEM] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Objekt:  Login [NT SERVICE\Winmgmt]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [NT SERVICE\Winmgmt] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Objekt:  Login [NT SERVICE\SQLWriter]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [NT SERVICE\SQLWriter] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Objekt:  Login [NT SERVICE\SQLTELEMETRY]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [NT SERVICE\SQLTELEMETRY] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Objekt:  Login [NT SERVICE\SQLSERVERAGENT]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [NT SERVICE\SQLSERVERAGENT] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Objekt:  Login [NT Service\MSSQLSERVER]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [NT Service\MSSQLSERVER] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/****** Objekt:  Login [Livruens_PC\kiyan]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [Livruens_PC\kiyan] FROM WINDOWS WITH DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[Deutsch]
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Objekt:  Login [##MS_PolicyTsqlExecutionLogin##]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [##MS_PolicyTsqlExecutionLogin##] WITH PASSWORD=N'h2ygUfMmyJi1AZL9mpW4YIgWvDNRjyK4YhGfNaEe7pk=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyTsqlExecutionLogin##] DISABLE
GO
/* For security reasons the login is created disabled and with a random password. */
/****** Objekt:  Login [##MS_PolicyEventProcessingLogin##]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE LOGIN [##MS_PolicyEventProcessingLogin##] WITH PASSWORD=N'3PZhjrtZ+JvfvtVt1JPrV8vlAlYprqJk1TEobsaFmSI=', DEFAULT_DATABASE=[master], DEFAULT_LANGUAGE=[us_english], CHECK_EXPIRATION=OFF, CHECK_POLICY=ON
GO
ALTER LOGIN [##MS_PolicyEventProcessingLogin##] DISABLE
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\Winmgmt]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLWriter]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT SERVICE\SQLSERVERAGENT]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [NT Service\MSSQLSERVER]
GO
ALTER SERVER ROLE [sysadmin] ADD MEMBER [Livruens_PC\kiyan]
GO
USE [Zahnarztpraxis]
GO
/****** Objekt:  User [Mitarbeiter]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE USER [Mitarbeiter] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objekt:  User [Chef]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE USER [Chef] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objekt:  DatabaseRole [Praxispersonal]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE ROLE [Praxispersonal]
GO
/****** Objekt:  DatabaseRole [Praxisleitung]    Skriptdatum: 28.08.2026 12:41:15 ******/
CREATE ROLE [Praxisleitung]
GO
ALTER ROLE [Praxispersonal] ADD MEMBER [Mitarbeiter]
GO
ALTER ROLE [Praxisleitung] ADD MEMBER [Chef]
GO
GRANT CONNECT TO [Chef] AS [dbo]
GO
GRANT CONNECT TO [Mitarbeiter] AS [dbo]
GO
GRANT VIEW ANY COLUMN ENCRYPTION KEY DEFINITION TO [public] AS [dbo]
GO
GRANT VIEW ANY COLUMN MASTER KEY DEFINITION TO [public] AS [dbo]
GO
/****** Objekt:  UserDefinedFunction [dbo].[AlterBerechnen]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Lev A. Brodski
-- Create date: 14.08.2026
-- Description:	diese Funktion berechnet Alter
-- =============================================
CREATE     FUNCTION [dbo].[AlterBerechnen]
(
	@GebDat date
)
RETURNS int
AS
BEGIN
	-- Declare the return variable here
	DECLARE @Age int;
	DECLARE @Heute date;
	SET @Heute = GETDATE();
		
	IF (MONTH(@GebDat) > MONTH(@Heute)) -- Geburtsmonat erst später
		SET @Age = DATEDIFF(YEAR, @GebDat, @Heute) - 1; -- ist noch nich so alt
	ELSE IF (MONTH(@GebDat) = MONTH(@Heute) AND DAY(@GebDat) > DAY(@Heute)) -- Geburtstad ist Morgen bis Monatsende
		SET @Age = DATEDIFF(YEAR, @GebDat, @Heute) - 1; -- ist noch nich so alt
	ELSE SET @Age = DATEDIFF(YEAR, @GebDat, @Heute);	

	-- Return the result of the function
	RETURN @Age;

END
GO
/****** Objekt:  UserDefinedFunction [dbo].[existPatient]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[existPatient](@PatientID int) RETURNS BIT

AS
BEGIN
  IF EXISTS(
    SELECT PatientID
	FROM dbo.Patient
	WHERE PatientID = @PatientID
	) RETURN 1
RETURN 0
END
GO
/****** Objekt:  UserDefinedFunction [dbo].[existPerson]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[existPerson](
    @Vorname        NVARCHAR(50),
    @Nachname       NVARCHAR(50),
    @GebDat         DATE,
    @GenderID       INT
) RETURNS BIT

AS
BEGIN
  IF EXISTS(
    SELECT PersonID
	FROM dbo.Person
	WHERE Vorname = @Vorname 
    AND Nachname = @Nachname
    AND GebDat = @GebDat
    AND GenderID = @GenderID

	) RETURN 1
RETURN 0
END
GO
/****** Objekt:  UserDefinedFunction [dbo].[istArchiviert]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[istArchiviert]
(
    @PatientID INT
)
RETURNS BIT
AS
BEGIN

    DECLARE @Archiviert BIT;

    SELECT @Archiviert = per.Archiviert
    FROM dbo.Patient AS pat
    INNER JOIN dbo.Person AS per
        ON pat.PersonID = per.PersonID
    WHERE pat.PatientID = @PatientID;

    RETURN @Archiviert;

END;
GO
/****** Objekt:  UserDefinedFunction [dbo].[patientCHECKOUT]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[patientCHECKOUT](@Verlassen datetime2) RETURNS bit
AS
BEGIN
	IF EXISTS (
		SELECT [Verlassen]
		FROM [dbo].[Praxisbesuch]
		WHERE [Verlassen]=@Verlassen
	)RETURN 1

	RETURN 0
END
GO
/****** Objekt:  UserDefinedFunction [dbo].[sf_Zeitstempel]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date, ,>
-- Description:	Die Funktion generiert so was: 20210105-105151150
-- =============================================
CREATE     FUNCTION [dbo].[sf_Zeitstempel] 
(
)
RETURNS char(18)
AS
BEGIN
	
	RETURN FORMAT(GETDATE(), 'yyyyMMdd-HHmmssfff');

END
GO
/****** Objekt:  UserDefinedFunction [dbo].[Test_validateTelnummer]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   FUNCTION [dbo].[Test_validateTelnummer] ( @Telnummer NVARCHAR(50)) RETURNS BIT

AS
    
    BEGIN
    -- -- https://stackoverflow.com/questions/65313573/how-to-insert-check-constraint-for-phone-number-in-mysql
          IF REGEXP_LIKE(@Telnummer, '^[+][0-9]{11}$') RETURN 1
    RETURN 0
END


GO
/****** Objekt:  Table [dbo].[Stadt]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stadt](
	[StadtID] [int] IDENTITY(1,1) NOT NULL,
	[Stadt_name] [nvarchar](50) NOT NULL,
	[LandID] [int] NOT NULL,
 CONSTRAINT [PK_Stadt] PRIMARY KEY CLUSTERED 
(
	[StadtID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Land]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Land](
	[LandID] [int] IDENTITY(1,1) NOT NULL,
	[Land_ name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Land] PRIMARY KEY CLUSTERED 
(
	[LandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Titel]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Titel](
	[TitelID] [int] IDENTITY(1,1) NOT NULL,
	[Titel_name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Titel] PRIMARY KEY CLUSTERED 
(
	[TitelID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Adressbuch]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adressbuch](
	[AdressenID] [int] IDENTITY(1,1) NOT NULL,
	[Strasse] [nvarchar](50) NOT NULL,
	[Hausnummer] [int] NULL,
	[PLZ] [int] NOT NULL,
	[StadtID] [int] NOT NULL,
 CONSTRAINT [PK_Adressbuch_1] PRIMARY KEY CLUSTERED 
(
	[AdressenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Person]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Person](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[TitelID] [int] NULL,
	[Vorname] [nvarchar](50) NOT NULL,
	[Nachname] [nvarchar](50) NOT NULL,
	[GebDat] [date] NOT NULL,
	[AdresseID] [int] NULL,
	[Telefonnummer] [nvarchar](50) NULL,
	[GenderID] [int] NULL,
	[Archiviert] [bit] NOT NULL,
	[Grund_der_archivierung] [nvarchar](50) NULL,
	[Notizen] [nvarchar](1000) NULL,
 CONSTRAINT [PK_Person] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Patient]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Patient](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
 CONSTRAINT [PK_Patient] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  View [dbo].[view_PatientenListe]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_PatientenListe]
AS
SELECT TOP (100) PERCENT ISNULL(t.Titel_name, '') AS Titel, p.Vorname, p.Nachname, p.GebDat, dbo.Adressbuch.Strasse, dbo.Adressbuch.Hausnummer, dbo.Adressbuch.PLZ, dbo.Stadt.Stadt_name, dbo.Land.[Land_ name]
FROM    dbo.Person AS p INNER JOIN
              dbo.Patient AS pat ON p.PersonID = pat.PersonID INNER JOIN
              dbo.Adressbuch ON p.AdresseID = dbo.Adressbuch.AdressenID INNER JOIN
              dbo.Stadt ON dbo.Adressbuch.StadtID = dbo.Stadt.StadtID INNER JOIN
              dbo.Land ON dbo.Stadt.LandID = dbo.Land.LandID LEFT OUTER JOIN
              dbo.Titel AS t ON p.TitelID = t.TitelID
WHERE  (p.Archiviert = 0)
ORDER BY p.Vorname, p.Nachname
GO
/****** Objekt:  Table [dbo].[Praxisbesuch]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Praxisbesuch](
	[PraxisbesuchID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[Ankunft] [datetime2](7) NOT NULL,
	[Verlassen] [datetime2](7) NULL,
 CONSTRAINT [PK_Praxisbesuch] PRIMARY KEY CLUSTERED 
(
	[PraxisbesuchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  View [dbo].[View_Archivierte_Patienten]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Archivierte_Patienten]
AS
SELECT TOP (100) PERCENT ISNULL(dbo.Titel.Titel_name, '') AS Titel, dbo.Person.Vorname, dbo.Person.Nachname, dbo.Person.GebDat, dbo.Praxisbesuch.Ankunft, dbo.Praxisbesuch.Verlassen, dbo.Person.Grund_der_archivierung
FROM    dbo.Person FULL OUTER JOIN
              dbo.Patient AS Patient_1 ON dbo.Person.PersonID = Patient_1.PersonID INNER JOIN
              dbo.Praxisbesuch ON Patient_1.PatientID = dbo.Praxisbesuch.PatientID LEFT OUTER JOIN
              dbo.Titel ON dbo.Person.TitelID = dbo.Titel.TitelID
WHERE  (dbo.Person.Archiviert = 1)
ORDER BY dbo.Person.Vorname, dbo.Person.Nachname
GO
/****** Objekt:  Table [dbo].[Mitarbeiter]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mitarbeiter](
	[MitarbeiterID] [int] IDENTITY(1,1) NOT NULL,
	[PersonenID] [int] NOT NULL,
	[Extern] [bit] NOT NULL,
 CONSTRAINT [PK_Mitarbeiter] PRIMARY KEY CLUSTERED 
(
	[MitarbeiterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Zahn]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zahn](
	[ZahnID] [int] IDENTITY(1,1) NOT NULL,
	[ZahnCODE] [char](2) NOT NULL,
	[Zahn_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Zahn] PRIMARY KEY CLUSTERED 
(
	[ZahnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Lokalisation]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lokalisation](
	[LokalisationID] [int] IDENTITY(1,1) NOT NULL,
	[Lokalisation_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Lokalisation] PRIMARY KEY CLUSTERED 
(
	[LokalisationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[PatientHatDiagnose]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PatientHatDiagnose](
	[PatientDiagnoseID] [int] IDENTITY(1,1) NOT NULL,
	[DiagnoseID] [int] NOT NULL,
	[ZahnID] [int] NULL,
	[LokalisationID] [int] NULL,
	[ErfasstAm] [datetime2](7) NOT NULL,
	[ErfasstVomMitarbeiter] [int] NOT NULL,
	[PraxisbesuchID] [int] NOT NULL,
 CONSTRAINT [PK_PatientHatDiagnose] PRIMARY KEY CLUSTERED 
(
	[PatientDiagnoseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Zahnflaeche]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Zahnflaeche](
	[ZahnfalecheID] [int] IDENTITY(1,1) NOT NULL,
	[FlaechenCODE] [varchar](2) NOT NULL,
	[Flaechen_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Zahnflaeche] PRIMARY KEY CLUSTERED 
(
	[ZahnfalecheID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[ZahnHatFlaeche]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZahnHatFlaeche](
	[ZahnFlaechenZuordnungID] [int] IDENTITY(1,1) NOT NULL,
	[ZahnID] [int] NOT NULL,
	[ZahnflaechenID] [int] NOT NULL,
 CONSTRAINT [PK_ZahnHatFlaeche] PRIMARY KEY CLUSTERED 
(
	[ZahnFlaechenZuordnungID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[Diagnose]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Diagnose](
	[DiagnoseID] [int] IDENTITY(1,1) NOT NULL,
	[ICD10CODE] [nvarchar](6) NOT NULL,
	[Diagnose_name] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Diagnose] PRIMARY KEY CLUSTERED 
(
	[DiagnoseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
GRANT INSERT ON [dbo].[Diagnose] TO [Praxisleitung] AS [dbo]
GO
GRANT SELECT ON [dbo].[Diagnose] TO [Praxisleitung] AS [dbo]
GO
GRANT UPDATE ON [dbo].[Diagnose] TO [Praxisleitung] AS [dbo]
GO
GRANT SELECT ON [dbo].[Diagnose] TO [Praxispersonal] AS [dbo]
GO
/****** Objekt:  View [dbo].[View_ELIZE]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_ELIZE]
AS
SELECT TOP (100) PERCENT pePatient.Vorname, pePatient.Nachname, pePatient.GebDat, pb.Ankunft, pb.Verlassen, d.ICD10CODE, d.Diagnose_name, z.ZahnCODE, z.Zahn_name, dbo.Zahnflaeche.Flaechen_name, l.Lokalisation_name, phd.ErfasstAm, peMitarbeiter.Vorname AS ErfasstVon_Vorname, 
              peMitarbeiter.Nachname AS ErfasstVon_Nachname
FROM    dbo.ZahnHatFlaeche INNER JOIN
              dbo.Zahn AS z ON dbo.ZahnHatFlaeche.ZahnID = z.ZahnID INNER JOIN
              dbo.Zahnflaeche ON dbo.ZahnHatFlaeche.ZahnflaechenID = dbo.Zahnflaeche.ZahnfalecheID RIGHT OUTER JOIN
              dbo.Praxisbesuch AS pb INNER JOIN
              dbo.Patient AS pat ON pb.PatientID = pat.PatientID INNER JOIN
              dbo.Person AS pePatient ON pat.PersonID = pePatient.PersonID LEFT OUTER JOIN
              dbo.PatientHatDiagnose AS phd ON pb.PraxisbesuchID = phd.PraxisbesuchID LEFT OUTER JOIN
              dbo.Diagnose AS d ON phd.DiagnoseID = d.DiagnoseID ON z.ZahnID = phd.ZahnID LEFT OUTER JOIN
              dbo.Lokalisation AS l ON phd.LokalisationID = l.LokalisationID LEFT OUTER JOIN
              dbo.Mitarbeiter AS m ON phd.ErfasstVomMitarbeiter = m.MitarbeiterID LEFT OUTER JOIN
              dbo.Person AS peMitarbeiter ON m.PersonenID = peMitarbeiter.PersonID
WHERE  (pePatient.Vorname = N'Elize') AND (pePatient.Nachname = N'Rasmus')
ORDER BY pb.Ankunft DESC, phd.ErfasstAm
GO
/****** Objekt:  Table [dbo].[Beruf]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Beruf](
	[BerufID] [int] IDENTITY(1,1) NOT NULL,
	[Beruf_name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Beruf] PRIMARY KEY CLUSTERED 
(
	[BerufID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  Table [dbo].[MitarbeiterHatBeruf]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MitarbeiterHatBeruf](
	[MitarbeiterBerufeID] [int] IDENTITY(1,1) NOT NULL,
	[MitarbeiterID] [int] NOT NULL,
	[BerufID] [int] NOT NULL,
 CONSTRAINT [PK_MitarbeiterHatBeruf] PRIMARY KEY CLUSTERED 
(
	[MitarbeiterBerufeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objekt:  UserDefinedFunction [dbo].[tvf_MitarbeiterUebersicht]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [dbo].[tvf_MitarbeiterUebersicht]()
RETURNS TABLE
AS
RETURN
(
    SELECT
        ISNULL(t.Titel_name, '') AS Titel,
        p.Vorname,
        p.Nachname,

        CASE
            WHEN m.Extern = 1 THEN 'Ja'
            ELSE ''
        END AS Externe,

        COUNT(mhb.BerufID) AS AnzahlBerufe,

        STRING_AGG(b.Beruf_name, ', ') AS Berufe

    FROM dbo.Person AS p

    INNER JOIN dbo.Mitarbeiter AS m
        ON p.PersonID = m.PersonenID

    INNER JOIN dbo.MitarbeiterHatBeruf AS mhb
        ON m.MitarbeiterID = mhb.MitarbeiterID

    INNER JOIN dbo.Beruf AS b
        ON mhb.BerufID = b.BerufID

    LEFT JOIN dbo.Titel AS t
        ON p.TitelID = t.TitelID

    GROUP BY
        t.Titel_name,
        p.Vorname,
        p.Nachname,
        m.Extern
);

GO
/****** Objekt:  View [dbo].[view_Mitarbeiter]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[view_Mitarbeiter]
AS
SELECT TOP (100) PERCENT Titel, Vorname, Nachname, Externe, AnzahlBerufe, Berufe
FROM    dbo.tvf_MitarbeiterUebersicht() AS tvf_MitarbeiterUebersicht_1
ORDER BY Vorname, Nachname
GO
GRANT SELECT ON [dbo].[view_Mitarbeiter] TO [Praxisleitung] AS [dbo]
GO
/****** Objekt:  UserDefinedFunction [dbo].[tvf_PatientenMitMehrerenBesuchen]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Tabellenwertfunktion zählt wie viele besuche patinten hatten
-- und zeigt die > 1 an
CREATE   FUNCTION [dbo].[tvf_PatientenMitMehrerenBesuchen]()
RETURNS TABLE
AS
RETURN
(
    SELECT
        pat.PatientID,
        per.Vorname,
        per.Nachname,
        per.GebDat,
        dbo.AlterBerechnen(per.GebDat) AS Lebensalter,
        COUNT(pb.PraxisbesuchID) AS AnzahlPraxisbesuche

    FROM dbo.Patient AS pat

    INNER JOIN dbo.Person AS per
        ON pat.PersonID = per.PersonID

    INNER JOIN dbo.Praxisbesuch AS pb
        ON pat.PatientID = pb.PatientID

    GROUP BY
        pat.PatientID,
        per.Vorname,
        per.Nachname,
        per.GebDat

    HAVING COUNT(pb.PraxisbesuchID) > 1
);
GO
/****** Objekt:  View [dbo].[View_Patienten mit mehr als 2 Praxisbesuchen]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_Patienten mit mehr als 2 Praxisbesuchen]
AS
SELECT PatientID, Vorname, Nachname, GebDat, Lebensalter, AnzahlPraxisbesuche
FROM    dbo.tvf_PatientenMitMehrerenBesuchen() AS tvf_PatientenMitMehrerenBesuchen_1
GO
/****** Objekt:  View [dbo].[vw_PatientenMitMehrerenBesuchen]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   VIEW [dbo].[vw_PatientenMitMehrerenBesuchen] AS SELECT PatientID, Vorname, Nachname, GebDat, Lebensalter, AnzahlPraxisbesuche FROM dbo.tvf_PatientenMitMehrerenBesuchen();
GO
/****** Objekt:  View [dbo].[View_HeutigePatienten]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[View_HeutigePatienten]
AS
SELECT pat.PatientID, per.Vorname, per.Nachname, per.GebDat, dbo.AlterBerechnen(per.GebDat) AS Lebensalter, pb.PraxisbesuchID, pb.Ankunft, pb.Verlassen, CASE WHEN pb.Verlassen IS NULL THEN N'In der Praxis' ELSE N'Bereits gegangen' END AS Status
FROM    dbo.Patient AS pat INNER JOIN
              dbo.Person AS per ON pat.PersonID = per.PersonID INNER JOIN
              dbo.Praxisbesuch AS pb ON pat.PatientID = pb.PatientID
WHERE  (CAST(pb.Ankunft AS DATE) = CAST(GETDATE() AS DATE))
GO
/****** Objekt:  Table [dbo].[Gender]    Skriptdatum: 28.08.2026 12:41:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[GenderID] [int] IDENTITY(1,1) NOT NULL,
	[Gender_name] [nchar](10) NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[GenderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Adressbuch] ON 

INSERT [dbo].[Adressbuch] ([AdressenID], [Strasse], [Hausnummer], [PLZ], [StadtID]) VALUES (1, N'Am Waldschlöschen', 15, 67663, 2)
INSERT [dbo].[Adressbuch] ([AdressenID], [Strasse], [Hausnummer], [PLZ], [StadtID]) VALUES (2, N'Am Waldrand', 10, 67650, 3)
INSERT [dbo].[Adressbuch] ([AdressenID], [Strasse], [Hausnummer], [PLZ], [StadtID]) VALUES (3, N'Betzenbergstrasse', 1, 67663, 2)
SET IDENTITY_INSERT [dbo].[Adressbuch] OFF
GO
SET IDENTITY_INSERT [dbo].[Beruf] ON 

INSERT [dbo].[Beruf] ([BerufID], [Beruf_name]) VALUES (5, N'Angestellter')
INSERT [dbo].[Beruf] ([BerufID], [Beruf_name]) VALUES (13, N'Auszubildende')
INSERT [dbo].[Beruf] ([BerufID], [Beruf_name]) VALUES (8, N'Dentalhygieniker/in')
SET IDENTITY_INSERT [dbo].[Beruf] OFF
GO
SET IDENTITY_INSERT [dbo].[Diagnose] ON 

INSERT [dbo].[Diagnose] ([DiagnoseID], [ICD10CODE], [Diagnose_name]) VALUES (1, N'K00.1', N'Hyperodontie')
INSERT [dbo].[Diagnose] ([DiagnoseID], [ICD10CODE], [Diagnose_name]) VALUES (2, N'K00.6', N'Störungen des Zahndurchbruchs')
INSERT [dbo].[Diagnose] ([DiagnoseID], [ICD10CODE], [Diagnose_name]) VALUES (3, N'K01.0', N'Retinierter Zahn')
SET IDENTITY_INSERT [dbo].[Diagnose] OFF
GO
SET IDENTITY_INSERT [dbo].[Gender] ON 

INSERT [dbo].[Gender] ([GenderID], [Gender_name]) VALUES (3, N'diverse   ')
INSERT [dbo].[Gender] ([GenderID], [Gender_name]) VALUES (2, N'maennlich ')
INSERT [dbo].[Gender] ([GenderID], [Gender_name]) VALUES (1, N'weiblich  ')
SET IDENTITY_INSERT [dbo].[Gender] OFF
GO
SET IDENTITY_INSERT [dbo].[Land] ON 

INSERT [dbo].[Land] ([LandID], [Land_ name]) VALUES (8, N'Belgien')
INSERT [dbo].[Land] ([LandID], [Land_ name]) VALUES (6, N'Daenemark')
INSERT [dbo].[Land] ([LandID], [Land_ name]) VALUES (1, N'Deutschland')
SET IDENTITY_INSERT [dbo].[Land] OFF
GO
SET IDENTITY_INSERT [dbo].[Lokalisation] ON 

INSERT [dbo].[Lokalisation] ([LokalisationID], [Lokalisation_name]) VALUES (6, N'Gaumen')
INSERT [dbo].[Lokalisation] ([LokalisationID], [Lokalisation_name]) VALUES (1, N'Gingiva')
INSERT [dbo].[Lokalisation] ([LokalisationID], [Lokalisation_name]) VALUES (9, N'Kieferknochen')
SET IDENTITY_INSERT [dbo].[Lokalisation] OFF
GO
SET IDENTITY_INSERT [dbo].[Mitarbeiter] ON 

INSERT [dbo].[Mitarbeiter] ([MitarbeiterID], [PersonenID], [Extern]) VALUES (5, 32, 0)
INSERT [dbo].[Mitarbeiter] ([MitarbeiterID], [PersonenID], [Extern]) VALUES (6, 8, 0)
INSERT [dbo].[Mitarbeiter] ([MitarbeiterID], [PersonenID], [Extern]) VALUES (7, 18, 0)
SET IDENTITY_INSERT [dbo].[Mitarbeiter] OFF
GO
SET IDENTITY_INSERT [dbo].[MitarbeiterHatBeruf] ON 

INSERT [dbo].[MitarbeiterHatBeruf] ([MitarbeiterBerufeID], [MitarbeiterID], [BerufID]) VALUES (4, 6, 2)
INSERT [dbo].[MitarbeiterHatBeruf] ([MitarbeiterBerufeID], [MitarbeiterID], [BerufID]) VALUES (3, 6, 3)
INSERT [dbo].[MitarbeiterHatBeruf] ([MitarbeiterBerufeID], [MitarbeiterID], [BerufID]) VALUES (2, 6, 4)
SET IDENTITY_INSERT [dbo].[MitarbeiterHatBeruf] OFF
GO
SET IDENTITY_INSERT [dbo].[Patient] ON 

INSERT [dbo].[Patient] ([PatientID], [PersonID]) VALUES (1, 5)
INSERT [dbo].[Patient] ([PatientID], [PersonID]) VALUES (2, 10)
INSERT [dbo].[Patient] ([PatientID], [PersonID]) VALUES (3, 11)
SET IDENTITY_INSERT [dbo].[Patient] OFF
GO
SET IDENTITY_INSERT [dbo].[PatientHatDiagnose] ON 

INSERT [dbo].[PatientHatDiagnose] ([PatientDiagnoseID], [DiagnoseID], [ZahnID], [LokalisationID], [ErfasstAm], [ErfasstVomMitarbeiter], [PraxisbesuchID]) VALUES (1, 5, 36, NULL, CAST(N'2026-08-24T09:14:00.0000000' AS DateTime2), 8, 31)
INSERT [dbo].[PatientHatDiagnose] ([PatientDiagnoseID], [DiagnoseID], [ZahnID], [LokalisationID], [ErfasstAm], [ErfasstVomMitarbeiter], [PraxisbesuchID]) VALUES (2, 6, 6, NULL, CAST(N'2026-03-10T10:18:00.0000000' AS DateTime2), 6, 32)
INSERT [dbo].[PatientHatDiagnose] ([PatientDiagnoseID], [DiagnoseID], [ZahnID], [LokalisationID], [ErfasstAm], [ErfasstVomMitarbeiter], [PraxisbesuchID]) VALUES (3, 14, NULL, 1, CAST(N'2026-03-10T10:22:00.0000000' AS DateTime2), 8, 32)
GO
SET IDENTITY_INSERT [dbo].[PatientHatDiagnose] OFF
GO
SET IDENTITY_INSERT [dbo].[Person] ON 

INSERT [dbo].[Person] ([PersonID], [TitelID], [Vorname], [Nachname], [GebDat], [AdresseID], [Telefonnummer], [GenderID], [Archiviert], [Grund_der_archivierung], [Notizen]) VALUES (5, NULL, N'Nadia', N'Szymanska', CAST(N'2023-04-12' AS Date), 1, NULL, 1, 0, NULL, NULL)
INSERT [dbo].[Person] ([PersonID], [TitelID], [Vorname], [Nachname], [GebDat], [AdresseID], [Telefonnummer], [GenderID], [Archiviert], [Grund_der_archivierung], [Notizen]) VALUES (8, 3, N'Hans', N'Müller', CAST(N'1986-01-15' AS Date), 2, NULL, 2, 0, NULL, NULL)
INSERT [dbo].[Person] ([PersonID], [TitelID], [Vorname], [Nachname], [GebDat], [AdresseID], [Telefonnummer], [GenderID], [Archiviert], [Grund_der_archivierung], [Notizen]) VALUES (10, NULL, N'Natasza', N'Szymanska', CAST(N'1986-07-20' AS Date), 1, NULL, 1, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Person] OFF
GO
SET IDENTITY_INSERT [dbo].[Praxisbesuch] ON 

INSERT [dbo].[Praxisbesuch] ([PraxisbesuchID], [PatientID], [Ankunft], [Verlassen]) VALUES (1, 10, CAST(N'2011-11-15T09:05:00.0000000' AS DateTime2), CAST(N'2011-11-15T09:32:00.0000000' AS DateTime2))
INSERT [dbo].[Praxisbesuch] ([PraxisbesuchID], [PatientID], [Ankunft], [Verlassen]) VALUES (2, 10, CAST(N'2012-05-22T10:12:00.0000000' AS DateTime2), CAST(N'2012-05-22T10:38:00.0000000' AS DateTime2))
INSERT [dbo].[Praxisbesuch] ([PraxisbesuchID], [PatientID], [Ankunft], [Verlassen]) VALUES (3, 10, CAST(N'2012-11-20T08:48:00.0000000' AS DateTime2), CAST(N'2012-11-20T09:17:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Praxisbesuch] OFF
GO
SET IDENTITY_INSERT [dbo].[Stadt] ON 

INSERT [dbo].[Stadt] ([StadtID], [Stadt_name], [LandID]) VALUES (1, N'Braunschweig', 1)
INSERT [dbo].[Stadt] ([StadtID], [Stadt_name], [LandID]) VALUES (2, N'Kaiserslautern', 1)
INSERT [dbo].[Stadt] ([StadtID], [Stadt_name], [LandID]) VALUES (3, N'Otterberg', 1)
SET IDENTITY_INSERT [dbo].[Stadt] OFF
GO
SET IDENTITY_INSERT [dbo].[Titel] ON 

INSERT [dbo].[Titel] ([TitelID], [Titel_name]) VALUES (1, N'Dr.')
INSERT [dbo].[Titel] ([TitelID], [Titel_name]) VALUES (3, N'Dr. med.')
INSERT [dbo].[Titel] ([TitelID], [Titel_name]) VALUES (2, N'Dr. med. dent.')
SET IDENTITY_INSERT [dbo].[Titel] OFF
GO
SET IDENTITY_INSERT [dbo].[Zahn] ON 

INSERT [dbo].[Zahn] ([ZahnID], [ZahnCODE], [Zahn_name]) VALUES (1, N'11', N'OK rechts zentraler Schneidezahn')
INSERT [dbo].[Zahn] ([ZahnID], [ZahnCODE], [Zahn_name]) VALUES (2, N'12', N'OK rechts seitlicher Schneidezahn')
INSERT [dbo].[Zahn] ([ZahnID], [ZahnCODE], [Zahn_name]) VALUES (3, N'13', N'OK rechts Eckzahn')
SET IDENTITY_INSERT [dbo].[Zahn] OFF
GO
SET IDENTITY_INSERT [dbo].[Zahnflaeche] ON 

INSERT [dbo].[Zahnflaeche] ([ZahnfalecheID], [FlaechenCODE], [Flaechen_name]) VALUES (1, N'M', N'mesial')
INSERT [dbo].[Zahnflaeche] ([ZahnfalecheID], [FlaechenCODE], [Flaechen_name]) VALUES (2, N'D', N'distal')
INSERT [dbo].[Zahnflaeche] ([ZahnfalecheID], [FlaechenCODE], [Flaechen_name]) VALUES (3, N'O', N'okklusal')
SET IDENTITY_INSERT [dbo].[Zahnflaeche] OFF
GO
SET IDENTITY_INSERT [dbo].[ZahnHatFlaeche] ON 

INSERT [dbo].[ZahnHatFlaeche] ([ZahnFlaechenZuordnungID], [ZahnID], [ZahnflaechenID]) VALUES (4, 1, 1)
INSERT [dbo].[ZahnHatFlaeche] ([ZahnFlaechenZuordnungID], [ZahnID], [ZahnflaechenID]) VALUES (9, 2, 1)
INSERT [dbo].[ZahnHatFlaeche] ([ZahnFlaechenZuordnungID], [ZahnID], [ZahnflaechenID]) VALUES (14, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[ZahnHatFlaeche] OFF
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_BerufNameIstEindeutig]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_BerufNameIstEindeutig] ON [dbo].[Beruf]
(
	[Beruf_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_ICD10UNIQUE]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ICD10UNIQUE] ON [dbo].[Diagnose]
(
	[ICD10CODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_GenderNameIstEindeutig]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_GenderNameIstEindeutig] ON [dbo].[Gender]
(
	[Gender_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_LandNameIstEindeutig]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LandNameIstEindeutig] ON [dbo].[Land]
(
	[Land_ name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_LokalisationNameUNIQUE]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_LokalisationNameUNIQUE] ON [dbo].[Lokalisation]
(
	[Lokalisation_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objekt:  Index [IX_Mitarbeiter_PersoneneID]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Mitarbeiter_PersoneneID] ON [dbo].[Mitarbeiter]
(
	[PersonenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objekt:  Index [IX_Zusammengesetzer]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Zusammengesetzer] ON [dbo].[MitarbeiterHatBeruf]
(
	[BerufID] ASC,
	[MitarbeiterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objekt:  Index [IX_PatientUNIQUE]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_PatientUNIQUE] ON [dbo].[Patient]
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_TitelNameEindeutig]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_TitelNameEindeutig] ON [dbo].[Titel]
(
	[Titel_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_Zahn_nameUNIQUE]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Zahn_nameUNIQUE] ON [dbo].[Zahn]
(
	[Zahn_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_ZahnCODE_UNIQUE]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ZahnCODE_UNIQUE] ON [dbo].[Zahn]
(
	[ZahnCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_Zahnflaeche_nameUNIQUE]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Zahnflaeche_nameUNIQUE] ON [dbo].[Zahnflaeche]
(
	[Flaechen_name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Objekt:  Index [IX_ZahnflaechenCODEUNIQUE]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_ZahnflaechenCODEUNIQUE] ON [dbo].[Zahnflaeche]
(
	[FlaechenCODE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Objekt:  Index [IX_UNIQUE_COMPOSITION_Zahn_Flaeche]    Skriptdatum: 28.08.2026 12:41:17 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_UNIQUE_COMPOSITION_Zahn_Flaeche] ON [dbo].[ZahnHatFlaeche]
(
	[ZahnflaechenID] ASC,
	[ZahnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Mitarbeiter] ADD  CONSTRAINT [DF_Mitarbeiter_Extern]  DEFAULT ((0)) FOR [Extern]
GO
ALTER TABLE [dbo].[PatientHatDiagnose] ADD  CONSTRAINT [DF_PatientHatDiagnose_ErfasstAm]  DEFAULT (getdate()) FOR [ErfasstAm]
GO
ALTER TABLE [dbo].[Person] ADD  CONSTRAINT [DF_Person_Archiviert]  DEFAULT ((0)) FOR [Archiviert]
GO
ALTER TABLE [dbo].[Adressbuch]  WITH CHECK ADD  CONSTRAINT [FK_Adressbuch_Stadt] FOREIGN KEY([StadtID])
REFERENCES [dbo].[Stadt] ([StadtID])
GO
ALTER TABLE [dbo].[Adressbuch] CHECK CONSTRAINT [FK_Adressbuch_Stadt]
GO
ALTER TABLE [dbo].[Mitarbeiter]  WITH CHECK ADD  CONSTRAINT [FK_Mitarbeiter_Person] FOREIGN KEY([PersonenID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Mitarbeiter] CHECK CONSTRAINT [FK_Mitarbeiter_Person]
GO
ALTER TABLE [dbo].[MitarbeiterHatBeruf]  WITH CHECK ADD  CONSTRAINT [FK_MitarbeiterHatBeruf_Beruf] FOREIGN KEY([BerufID])
REFERENCES [dbo].[Beruf] ([BerufID])
GO
ALTER TABLE [dbo].[MitarbeiterHatBeruf] CHECK CONSTRAINT [FK_MitarbeiterHatBeruf_Beruf]
GO
ALTER TABLE [dbo].[MitarbeiterHatBeruf]  WITH CHECK ADD  CONSTRAINT [FK_MitarbeiterHatBeruf_Mitarbeiter] FOREIGN KEY([MitarbeiterID])
REFERENCES [dbo].[Mitarbeiter] ([MitarbeiterID])
GO
ALTER TABLE [dbo].[MitarbeiterHatBeruf] CHECK CONSTRAINT [FK_MitarbeiterHatBeruf_Mitarbeiter]
GO
ALTER TABLE [dbo].[Patient]  WITH CHECK ADD  CONSTRAINT [FK_Patient_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[Person] ([PersonID])
GO
ALTER TABLE [dbo].[Patient] CHECK CONSTRAINT [FK_Patient_Person]
GO
ALTER TABLE [dbo].[PatientHatDiagnose]  WITH CHECK ADD  CONSTRAINT [FK_PatientHatDiagnose_Diagnose] FOREIGN KEY([DiagnoseID])
REFERENCES [dbo].[Diagnose] ([DiagnoseID])
GO
ALTER TABLE [dbo].[PatientHatDiagnose] CHECK CONSTRAINT [FK_PatientHatDiagnose_Diagnose]
GO
ALTER TABLE [dbo].[PatientHatDiagnose]  WITH CHECK ADD  CONSTRAINT [FK_PatientHatDiagnose_Lokalisation] FOREIGN KEY([LokalisationID])
REFERENCES [dbo].[Lokalisation] ([LokalisationID])
GO
ALTER TABLE [dbo].[PatientHatDiagnose] CHECK CONSTRAINT [FK_PatientHatDiagnose_Lokalisation]
GO
ALTER TABLE [dbo].[PatientHatDiagnose]  WITH CHECK ADD  CONSTRAINT [FK_PatientHatDiagnose_Mitarbeiter] FOREIGN KEY([ErfasstVomMitarbeiter])
REFERENCES [dbo].[Mitarbeiter] ([MitarbeiterID])
GO
ALTER TABLE [dbo].[PatientHatDiagnose] CHECK CONSTRAINT [FK_PatientHatDiagnose_Mitarbeiter]
GO
ALTER TABLE [dbo].[PatientHatDiagnose]  WITH CHECK ADD  CONSTRAINT [FK_PatientHatDiagnose_Praxisbesuch] FOREIGN KEY([PraxisbesuchID])
REFERENCES [dbo].[Praxisbesuch] ([PraxisbesuchID])
GO
ALTER TABLE [dbo].[PatientHatDiagnose] CHECK CONSTRAINT [FK_PatientHatDiagnose_Praxisbesuch]
GO
ALTER TABLE [dbo].[PatientHatDiagnose]  WITH CHECK ADD  CONSTRAINT [FK_PatientHatDiagnose_Zahn] FOREIGN KEY([ZahnID])
REFERENCES [dbo].[Zahn] ([ZahnID])
GO
ALTER TABLE [dbo].[PatientHatDiagnose] CHECK CONSTRAINT [FK_PatientHatDiagnose_Zahn]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Adressbuch] FOREIGN KEY([AdresseID])
REFERENCES [dbo].[Adressbuch] ([AdressenID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Adressbuch]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Gender] FOREIGN KEY([GenderID])
REFERENCES [dbo].[Gender] ([GenderID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Gender]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [FK_Person_Titel] FOREIGN KEY([TitelID])
REFERENCES [dbo].[Titel] ([TitelID])
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [FK_Person_Titel]
GO
ALTER TABLE [dbo].[Praxisbesuch]  WITH CHECK ADD  CONSTRAINT [FK_Praxisbesuch_Patient] FOREIGN KEY([PatientID])
REFERENCES [dbo].[Patient] ([PatientID])
GO
ALTER TABLE [dbo].[Praxisbesuch] CHECK CONSTRAINT [FK_Praxisbesuch_Patient]
GO
ALTER TABLE [dbo].[Stadt]  WITH CHECK ADD  CONSTRAINT [FK_Stadt_Land] FOREIGN KEY([LandID])
REFERENCES [dbo].[Land] ([LandID])
GO
ALTER TABLE [dbo].[Stadt] CHECK CONSTRAINT [FK_Stadt_Land]
GO
ALTER TABLE [dbo].[ZahnHatFlaeche]  WITH CHECK ADD  CONSTRAINT [FK_ZahnHatFlaeche_Zahn] FOREIGN KEY([ZahnID])
REFERENCES [dbo].[Zahn] ([ZahnID])
GO
ALTER TABLE [dbo].[ZahnHatFlaeche] CHECK CONSTRAINT [FK_ZahnHatFlaeche_Zahn]
GO
ALTER TABLE [dbo].[ZahnHatFlaeche]  WITH CHECK ADD  CONSTRAINT [FK_ZahnHatFlaeche_Zahnflaeche] FOREIGN KEY([ZahnflaechenID])
REFERENCES [dbo].[Zahnflaeche] ([ZahnfalecheID])
GO
ALTER TABLE [dbo].[ZahnHatFlaeche] CHECK CONSTRAINT [FK_ZahnHatFlaeche_Zahnflaeche]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [CNSTR_valid_GebDATE] CHECK  (([GebDat]<=getdate()))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [CNSTR_valid_GebDATE]
GO
ALTER TABLE [dbo].[Person]  WITH CHECK ADD  CONSTRAINT [valid_telnr] CHECK  ((regexp_like([Telefonnummer],'^[+][0-9]{12}$')))
GO
ALTER TABLE [dbo].[Person] CHECK CONSTRAINT [valid_telnr]
GO
ALTER TABLE [dbo].[Praxisbesuch]  WITH CHECK ADD  CONSTRAINT [CNST_Praxisbesuch_validieren_der_abmeldung] CHECK  (([Verlassen] IS NULL OR [Verlassen]>=[Ankunft]))
GO
ALTER TABLE [dbo].[Praxisbesuch] CHECK CONSTRAINT [CNST_Praxisbesuch_validieren_der_abmeldung]
GO
/****** Objekt:  StoredProcedure [dbo].[BackupZahnarztPraxis]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE   PROCEDURE [dbo].[BackupZahnarztPraxis]
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DECLARE @BackupFile NVARCHAR(MAX); -- path + file name	
	SET @BackupFile = 'D:\KURSE\AlfaTraining\SQL-Kurs\Zahnarztpraxis\backup\backupZHN_' 
					  + dbo.sf_Zeitstempel()
					  + '.bak';

   	BACKUP DATABASE Zahnarztpraxis TO DISK = @BackupFile;
    
END
GO
/****** Objekt:  StoredProcedure [dbo].[proc_DiagnoseHinzufuegen]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[proc_DiagnoseHinzufuegen]
(
    @PatientID INT,
    @ICD10CODE VARCHAR(10), -- z.b dropdown mit search
    @ZahnCODE VARCHAR(2), -- bilder zum ancklicken
    @MitarbeiterID INT
)
AS
BEGIN

    INSERT INTO dbo.PatientHatDiagnose
    (
        DiagnoseID,
        ZahnID,
        LokalisationID,
        ErfasstAm,
        ErfasstVomMitarbeiter,
        PraxisbesuchID
    )

    SELECT
        d.DiagnoseID,
        z.ZahnID,
        NULL,
        SYSDATETIME(),
        @MitarbeiterID,
        pb.PraxisbesuchID

    FROM dbo.Praxisbesuch AS pb

    INNER JOIN dbo.Diagnose AS d
        ON d.ICD10CODE = @ICD10CODE

    INNER JOIN dbo.Zahn AS z
        ON z.ZahnCODE = @ZahnCODE

    WHERE pb.PatientID = @PatientID
      AND pb.Verlassen IS NULL;

END;
GO
/****** Objekt:  StoredProcedure [dbo].[proc_NeuenPatientAufnehmen]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[proc_NeuenPatientAufnehmen]
(
    @Vorname        NVARCHAR(50),
    @Nachname       NVARCHAR(50),
    @GebDat         DATE,
    @GenderID       INT,

    @Telefonnummer  NVARCHAR(20) = NULL,
    @TitelID        INT = NULL,

    @Strasse        NVARCHAR(100) = NULL,
    @Hausnummer     NVARCHAR(20) = NULL,
    @PLZ            NVARCHAR(10) = NULL,
    @StadtID        INT = NULL
)
AS
BEGIN
        IF [dbo].[existPerson](@Vorname, @Nachname, @GebDat,@GenderID) = 1
    BEGIN
        THROW 50020, 'Person existiert bereits.', 1;
    END;
    -- Fall ein fehler innerhalb der transaktion vorekommt bricht die ganze transaktion ab
    SET XACT_ABORT ON

    DECLARE @AdresseID INT = NULL
    DECLARE @PersonID INT
    DECLARE @PatientID INT

    BEGIN TRY

        BEGIN TRANSACTION


        /* =========================================
           ADRESSE
           Adresse ist optional.
           Wenn Adresse angegeben wird,
           brauchen wir Straße, PLZ und Stadt.
           ========================================= */

        IF @Strasse IS NOT NULL
           OR @Hausnummer IS NOT NULL
           OR @PLZ IS NOT NULL
           OR @StadtID IS NOT NULL
        BEGIN

            IF @Strasse IS NULL
               OR @PLZ IS NULL
               OR @StadtID IS NULL
            BEGIN
                THROW 50010,
                      'Adresse unvollständig: Straße, PLZ und Stadt müssen angegeben werden.',
                      1
            END


            INSERT INTO dbo.Adressbuch
            (
                Strasse,
                Hausnummer,
                PLZ,
                StadtID
            )
            VALUES
            (
                @Strasse,
                @Hausnummer,
                @PLZ,
                @StadtID
            )


            SET @AdresseID = SCOPE_IDENTITY()

        END


        /* =========================================
           PERSON ANLEGEN
           Die vorhandenen CHECK-Constraints
           prüfen automatisch z.B.
           Geburtsdatum und Telefonnummer.
           ========================================= */

        INSERT INTO dbo.Person
        (
            TitelID,
            Vorname,
            Nachname,
            GebDat,
            AdresseID,
            Telefonnummer,
            GenderID,
            Archiviert,
            Grund_der_archivierung
        )
        VALUES
        (
            @TitelID,
            @Vorname,
            @Nachname,
            @GebDat,
            @AdresseID,
            @Telefonnummer,
            @GenderID,
            0,
            NULL
        )


        SET @PersonID = SCOPE_IDENTITY()


        /* =========================================
           AUS DER PERSON EINEN PATIENTEN MACHEN
           ========================================= */

        INSERT INTO dbo.Patient
        (
            PersonID
        )
        VALUES
        (
            @PersonID
        )


        SET @PatientID = SCOPE_IDENTITY()


        COMMIT TRANSACTION


        /* =========================================
           AN DAS FRONTEND ZURÜCKGEBEN
           ========================================= */

        SELECT
            @PatientID AS PatientID,
            @PersonID AS PersonID,
            @AdresseID AS AdresseID,
            @Vorname AS Vorname,
            @Nachname AS Nachname,
            N'Patient wurde erfolgreich aufgenommen.'
                AS Meldung


    END TRY

    BEGIN CATCH

        IF @@TRANCOUNT > 0
            ROLLBACK TRANSACTION

        THROW

    END CATCH

END
GO
/****** Objekt:  StoredProcedure [dbo].[proc_PatientGeht]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[proc_PatientGeht]
    @PatientID INT
AS
BEGIN
    SET NOCOUNT ON;

    IF dbo.existPatient(@PatientID) = 0
    BEGIN
        THROW 50003, 'Patient existiert nicht.', 1
    END

    IF NOT EXISTS
    (
        SELECT 1
        FROM dbo.Praxisbesuch
        WHERE PatientID = @PatientID
          AND Verlassen IS NULL
    )
    BEGIN
        THROW 50004, 'Patient ist aktuell nicht eingecheckt.', 1
    END

    UPDATE dbo.Praxisbesuch
    SET Verlassen = SYSDATETIME()
    WHERE PatientID = @PatientID
      AND Verlassen IS NULL

END

GO
GRANT EXECUTE ON [dbo].[proc_PatientGeht] TO [Praxispersonal] AS [dbo]
GO
/****** Objekt:  StoredProcedure [dbo].[proc_PatientKommtAn]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[proc_PatientKommtAn]
(
    @PatientID INT,
    @Meldung NVARCHAR(200) OUTPUT
)
AS
BEGIN

    SET NOCOUNT ON;

    /* =====================================================
       1. Prüfen: Existiert der Patient?
       ===================================================== */

    IF dbo.existPatient(@PatientID) = 0
    BEGIN
        SET @Meldung = N'Patient existiert nicht.';
        RETURN;
    END;


    /* =====================================================
       2. Prüfen: Ist der Patient archiviert?
       ===================================================== */

    IF dbo.istArchiviert(@PatientID) = 1
    BEGIN
        SET @Meldung = N'Patient liegt im Archiv.';
        RETURN;
    END;


    /* =====================================================
       3. Prüfen: Gibt es bereits einen offenen Praxisbesuch?
       Verlassen = NULL bedeutet:
       Patient befindet sich aktuell in der Praxis.
       ===================================================== */

    IF EXISTS
    (
        SELECT 1
        FROM dbo.Praxisbesuch
        WHERE PatientID = @PatientID
          AND Verlassen IS NULL
    )
    BEGIN
        SET @Meldung =
            N'Patient ist bereits eingecheckt. Bitte zuerst auschecken.';
        RETURN;
    END;


    /* =====================================================
       4. Neuen Praxisbesuch anlegen
       ===================================================== */

    BEGIN TRY

        INSERT INTO dbo.Praxisbesuch
        (
            PatientID,
            Ankunft,
            Verlassen
        )
        VALUES
        (
            @PatientID,
            SYSDATETIME(),
            NULL
        );


        SET @Meldung =
            N'Patient wurde erfolgreich eingecheckt.';

    END TRY

    BEGIN CATCH

        SET @Meldung =
            N'Fehler beim Einchecken: '
            + ERROR_MESSAGE();

    END CATCH;

END;

GO
GRANT EXECUTE ON [dbo].[proc_PatientKommtAn] TO [Praxispersonal] AS [dbo]
GO
/****** Objekt:  Trigger [dbo].[trg_Lokalisation_Sperren]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_Lokalisation_Sperren]
ON [dbo].[Lokalisation]
INSTEAD OF INSERT, UPDATE, DELETE
AS
BEGIN
    THROW 51004,
          'Die Lookup-Tabelle Lokalisation darf nicht verändert werden.',
          1;
END;

GO
ALTER TABLE [dbo].[Lokalisation] ENABLE TRIGGER [trg_Lokalisation_Sperren]
GO
/****** Objekt:  Trigger [dbo].[trg_Zahn_Sperren]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [dbo].[trg_Zahn_Sperren]
ON [dbo].[Zahn]
INSTEAD OF INSERT, UPDATE, DELETE
AS
BEGIN
    THROW 51001,
          'Die Lookup-Tabelle Zahn darf nicht verändert werden.',
          1;
END;

GO
ALTER TABLE [dbo].[Zahn] ENABLE TRIGGER [trg_Zahn_Sperren]
GO
/****** Objekt:  Trigger [dbo].[trg_Zahnflaeche_Sperren]    Skriptdatum: 28.08.2026 12:41:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_Zahnflaeche_Sperren]
ON [dbo].[Zahnflaeche]
INSTEAD OF INSERT, UPDATE, DELETE
AS
BEGIN
    THROW 51002,
          'Die Lookup-Tabelle Zahnflaeche darf nicht verändert werden.',
          1;
END;

GO
ALTER TABLE [dbo].[Zahnflaeche] ENABLE TRIGGER [trg_Zahnflaeche_Sperren]
GO
/****** Objekt:  Trigger [dbo].[trg_ZahnHatFlaeche_Sperren]    Skriptdatum: 28.08.2026 12:41:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   TRIGGER [dbo].[trg_ZahnHatFlaeche_Sperren]
ON [dbo].[ZahnHatFlaeche]
INSTEAD OF INSERT, UPDATE, DELETE
AS
BEGIN
    THROW 51003,
          'Die Zuordnung ZahnHatFlaeche darf nicht verändert werden.',
          1;
END;

GO
ALTER TABLE [dbo].[ZahnHatFlaeche] ENABLE TRIGGER [trg_ZahnHatFlaeche_Sperren]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Person"
            Begin Extent = 
               Top = 9
               Left = 61
               Bottom = 208
               Right = 369
            End
            DisplayFlags = 280
            TopColumn = 7
         End
         Begin Table = "Patient_1"
            Begin Extent = 
               Top = 9
               Left = 430
               Bottom = 154
               Right = 660
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Praxisbesuch"
            Begin Extent = 
               Top = 9
               Left = 721
               Bottom = 208
               Right = 954
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Titel"
            Begin Extent = 
               Top = 9
               Left = 1015
               Bottom = 154
               Right = 1245
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Archivierte_Patienten'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Archivierte_Patienten'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Archivierte_Patienten'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[32] 2[14] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "ZahnHatFlaeche"
            Begin Extent = 
               Top = 39
               Left = 1024
               Bottom = 211
               Right = 1360
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "z"
            Begin Extent = 
               Top = 196
               Left = 750
               Bottom = 383
               Right = 980
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Zahnflaeche"
            Begin Extent = 
               Top = 0
               Left = 1475
               Bottom = 172
               Right = 1710
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pb"
            Begin Extent = 
               Top = 448
               Left = 692
               Bottom = 647
               Right = 925
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pat"
            Begin Extent = 
               Top = 9
               Left = 430
               Bottom = 154
               Right = 660
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pePatient"
            Begin Extent = 
               Top = 9
               Left = 61
               Bottom = 299
               Right = 369
            End
            DisplayFlags = 280
            TopColumn = 3
         End
         Begin Table = "phd"
            Begin Extent = 
               Top = 286
               Left = 1087
               Bottom = 600
               Right = 1380
            End
            DisplayFlags = 280
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ELIZE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'            TopColumn = 0
         End
         Begin Table = "d"
            Begin Extent = 
               Top = 307
               Left = 1603
               Bottom = 490
               Right = 1841
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "l"
            Begin Extent = 
               Top = 545
               Left = 1604
               Bottom = 690
               Right = 1864
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "m"
            Begin Extent = 
               Top = 317
               Left = 61
               Bottom = 489
               Right = 291
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "peMitarbeiter"
            Begin Extent = 
               Top = 317
               Left = 352
               Bottom = 516
               Right = 660
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 15
         Width = 284
         Width = 673
         Width = 1496
         Width = 1496
         Width = 1767
         Width = 1833
         Width = 1234
         Width = 1973
         Width = 1496
         Width = 1496
         Width = 2693
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 898
         Table = 1973
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1346
         SortOrder = 1412
         GroupBy = 1350
         Filter = 1346
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ELIZE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_ELIZE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[36] 4[6] 2[8] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "pat"
            Begin Extent = 
               Top = 9
               Left = 61
               Bottom = 154
               Right = 291
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "per"
            Begin Extent = 
               Top = 9
               Left = 352
               Bottom = 208
               Right = 660
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "pb"
            Begin Extent = 
               Top = 9
               Left = 721
               Bottom = 208
               Right = 954
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_HeutigePatienten'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_HeutigePatienten'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[30] 4[16] 2[9] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1[50] 4[25] 3) )"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4[30] 2[11] 3) )"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4[61] 3) )"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 3
   End
   Begin DiagramPane = 
      PaneHidden = 
      Begin Origin = 
         Top = -154
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tvf_MitarbeiterUebersicht_1"
            Begin Extent = 
               Top = 163
               Left = 61
               Bottom = 362
               Right = 307
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1721
         Width = 1216
         Width = 1290
         Width = 888
         Width = 1281
         Width = 6358
         Width = 1496
         Width = 1496
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 898
         Table = 1169
         Output = 1281
         Append = 1400
         NewValue = 1170
         SortType = 1346
         SortOrder = 1412
         GroupBy = 1346
         Filter = 1346
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_Mitarbeiter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_Mitarbeiter'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[28] 4[12] 2[17] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "tvf_PatientenMitMehrerenBesuchen_1"
            Begin Extent = 
               Top = 9
               Left = 61
               Bottom = 208
               Right = 360
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 9
         Width = 284
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
         Width = 1496
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 898
         Table = 1318
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1346
         SortOrder = 1412
         GroupBy = 1346
         Filter = 1346
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Patienten mit mehr als 2 Praxisbesuchen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'View_Patienten mit mehr als 2 Praxisbesuchen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[29] 4[29] 2[5] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = -438
         Left = 0
      End
      Begin Tables = 
         Begin Table = "p"
            Begin Extent = 
               Top = 112
               Left = 314
               Bottom = 311
               Right = 622
            End
            DisplayFlags = 280
            TopColumn = 4
         End
         Begin Table = "pat"
            Begin Extent = 
               Top = 0
               Left = 742
               Bottom = 145
               Right = 972
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "t"
            Begin Extent = 
               Top = 38
               Left = 2
               Bottom = 183
               Right = 232
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Adressbuch"
            Begin Extent = 
               Top = 167
               Left = 707
               Bottom = 366
               Right = 937
            End
            DisplayFlags = 280
            TopColumn = 1
         End
         Begin Table = "Stadt"
            Begin Extent = 
               Top = 214
               Left = 1008
               Bottom = 386
               Right = 1238
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "Land"
            Begin Extent = 
               Top = 419
               Left = 731
               Bottom = 564
               Right = 961
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
      Begin ColumnWidths = 10
         Width = 284
         Width = 1496
         Width = 1496
         Width = ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_PatientenListe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'1496
         Width = 1496
         Width = 2674
         Width = 1365
         Width = 1496
         Width = 1496
         Width = 1496
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 898
         Table = 1562
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1346
         SortOrder = 1412
         GroupBy = 1350
         Filter = 1805
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_PatientenListe'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'view_PatientenListe'
GO
USE [master]
GO
